<!DOCTYPE html>
<html>
<head>
    <title>depolitics</title>
</head>
<body>
    {% if politicians_list %}
        {% for politician in politicians_list %}
            <ul>
                <li>{{ politician.first_name }}</li>
                <li>{{ politician.last_name }}</li>    
                <li>{{ politician.name_variants }}</li>    
                <li>{{ politician.current_function }}</li>    
                <li>{{ politician.previous_functions }}</li>    
                <li>{{ politician.identification_string }}</li>    
            </ul>
        {% endfor %}
    {% else %}
        <p>Add politicians</p>
    {% endif %}

</body>
</html>