<div class="content content-about" id="content-about">
    <p>A politician should be <span class="no-one">no one.</span></p>
    <p><span class="no-one">no one</span> should get into politics.</p>
    <p>The first step towards a politics <span class="no-one">of no one</span> is to make the Name irrelevant.</p>
    <p>Therefore, the IS, the Identification String, is to be used to replace the Name of the politician with an arbitrary, unpronounceable, unnameable, not-for-humans string of characters.</p>
    <p>We shall not hope that the obfuscation of the Name will bring us closer to the Merit. However, we ought to aspire that it shall near Objectivity to us, even with the risk of Actor deresponsibilization. Or maybe in spite of it, after such a great deal of unresponsiveness (from the Actor to our Will), once unburdened, irresponsibility will open to the Ethic.</p>
    <p class="call-to-action">
        <span class="link" id="link-use">use</span> the browser extension to replace the Name with the IS on every web page;
        <br><span class="link" id="link-add">add</span> more politicians to the database and generate their IS;
        <br> or <span class="link" id="link-search">search</span> for one's identity by the IS if you must
    </p>
</div>