<div class="content content-search" id="content-search">
    <form id="search-form"">
        <div class="input-group">                    
            <input
                type="text"
                name="identification_string"
                placeholder="Identification String"
                id="input-search-string"
                required
            >
        </div>

        <div class="input-group">                    
            <button type="submit" class="button">search</button>
        </div>

        <div id="search-response">
            <div class="input-group">
                <div class="search-group">
                    first Name <span id="search-first-name"></span>
                </div>
                <!-- <input type="" name="" placeholder="first Name">        -->
            </div>

            <div class="input-group">
                <div class="search-group">
                    last Name <span id="search-last-name"></span>
                </div>
                <!-- <input type="" name="" placeholder="last Name"> -->
            </div>

            <div class="input-group">
                <div class="search-group">
                    name variants <span id="search-name-variants"></span>
                </div>
                <!-- <textarea rows="1" placeholder="name variants, comma separated"></textarea> -->
            </div>

            <div class="input-group">    
                <div class="search-group">
                    current political function <span id="search-current-function"></span>
                </div>            
                <!-- <input type="" name="" placeholder="current political function"> -->
            </div>

            <div class="input-group">    
                <div class="search-group">
                    previous political functions <span id="search-previous-functions"></span>
                </div> 
                <!-- <textarea rows="1" placeholder="previous political functions, comma separated"></textarea> -->
            </div>

            <div class="input-group">                    
                <!-- <button class="button">save</button> -->
            </div>
        </div>
    </form>
</div>