<div class="content content-search" id="content-search">
    <form id="search-form"">
        <div class="input-group">                    
            <input
                type="text"
                name="identification_string"
                placeholder="Identification String"
                id="input-search-string"
                autofocus
                required
            >
        </div>

        <div class="input-group">                    
            <button type="submit" class="button">search</button>
        </div>

<!--         <div class="input-group">     
            <p>The djasjda Identification String has no current assignment.</p>               
        </div> -->

        <div id="search-response">
            <div class="input-group">
                <div class="search-group">
                    first Name <span contenteditable id="search-first-name"></span>
                </div>
            </div>

            <div class="input-group">
                <div class="search-group">
                    last Name <span contenteditable id="search-last-name"></span>
                </div>
            </div>

            <div class="input-group">
                <div class="search-group">
                    name variants <span contenteditable id="search-name-variants"></span>
                </div>
            </div>

            <div class="input-group">    
                <div class="search-group">
                    current political function <span contenteditable id="search-current-function"></span>
                </div>            
            </div>

            <div class="input-group">    
                <div class="search-group">
                    previous political functions <span contenteditable id="search-previous-functions"></span>
                </div> 
            </div>

            <div class="input-group">                    
                <button class="button">save</button>
            </div>
        </div>
    </form>
</div>