<div class="content content-gift" id="content-gift">
    <p>if you would enjoy gifting currency for server time or for whatever reason, consider</p>
    
    <div class="gift-wrapper">
        <div class="gift-card">
            <p>acryptos</p>
            <p>with <a href="https://paypal.me/caveljan">PayPal</a></p>
        </div>

        <div class="gift-card" id="gift-card-crypto">
            <p>cryptos</p>
            <p id="gift-crypto-expand">&#9660;</p>
            <div id="gift-card-drawer">
                <p>BTC<br> 1CKq4q1bUiMoz29XtdP9DYp2GsNavC5AKt</p>
                <p>ETH<br> 0xDb31358ec77526458Dba0f4b2246E5033D232Bc0</p>
                <p>LTC<br> LiG5tTW8gpJzXr5tW6akNZH1uFmFHT5zrn</p>
            </div>
        </div>
    </div>
</div>