/* OPTIONS */
html {
    margin: auto;
}

html, body {
    padding: 5px;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}
.container {
    width: 100%;
}

h1 {
    font-size: 16px;
    line-height: 130%;
    padding:5px 0;
    margin:0;
}

.options-field {
    padding-bottom: 15px;
    font-size: 12px;
    line-height: 200%;
}

.options-field label {
    padding-left: 5px;
}

.top-text-field p {
    margin-top: 0px;
    text-align: justify;
}

.text-field {
    padding-top: 5px;
}

.span-default {
    color: hsl(0, 0%, 50%);
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

p {
    line-height: 150%;
    margin-bottom: 5px;
    font-size: 12px;
}

a {
    color: hsl(0, 0%, 0%);
}

a:link {
    text-decoration: none;
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}

.button {
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    width: 100%;
    padding: 7px;
    font-size: 12px;
}

#status-message {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
